<ol>
    <li>Decouple from laravel repo</li>
    <li>Add product refreash to home</li>
    <li>Add product count to home</li>
    <li>BOM builder single page for create and edit</li>
    <li>BOM smart form base on existence</li>
    <li>BOM dynamic add/remove components to bill</li>
    <li>BOM list page with composite checker (do compoent parts still exists)</li>
    <li>Handle product api pagination loading</li>
    <li>Auto api access_token regen</li>
    <li>Count tags in sidenav</li>
    <li>fix login page styling</li>
</ol>